
.cabecalho{
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  padding: 10px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  color: #2d2a2a;
  height: 50px;
  border-bottom: 2px solid rgb(146, 143, 143);
}

.fixed-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.text-date, .text-ola, .text-editar{
  font-family: 'Poetsen One', 'sans-serif';
  font-size: 14px;

}
/* HomePage.css */
.containerHome {
  font-family: Arial, sans-serif;
  padding: 50px;
  min-height: 87vh;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  padding: 0 39px;
}

.text-content {
  flex: 1;
  min-width: 50%;
}

.text-content p {
  text-align: justify;
}

.image-content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 50%;
}

.image-placeholder {
  width: 100%;
  max-width: 300px;
  background-color: #d4c8b2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #5a4526;
  padding-top: 60px;
  height: 60vh;
}

/*.image-placeholder img {
  
}*/

/* Responsividade */
@media (min-width: 768px) {
  .content {
    flex-direction: row;
  }

  .text-content {
    padding-right: 10px;
  }
}
