.servicos-ufba .page-layout {
  display: flex;
  flex-direction: column;
<<<<<<< HEAD
  min-height: 85vh;
=======
>>>>>>> a2f5ed764acc75380b3de803072d3fbf63dfe897
  flex: 1;
  min-height: 87vh;
}
.servicos-ufba .layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 8px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: none;
  flex: 1;
}

.servicos-ufba .mainTitle {
  font-family: Poetsen One, sans-serif;
  font-size: 32px;
  color: #533132;
  margin-top: 10px;
}

.links-uteis .subtitle,
.servicos-ufba .subtitle {
  font-size: 18px;
  color: #5a4526;
  margin-bottom: 20px;
}

/* Seção de links */
.links-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.links-section h3 {
  font-size: 20px;
  color: #533132;
  margin-bottom: 10px;
}

.links-section a {
  text-decoration: none;
  color: #1e5799;
  font-size: 16px;
  transition: color 0.3s;
}

.links-section a:hover {
  color: #ecbb60;
}
